body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:568px;
}
#u8 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:568px;
}
#u10 {
  position:absolute;
  left:16px;
  top:276px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:-38px;
  top:-19px;
  width:364px;
  height:234px;
}
#u11 {
  position:absolute;
  left:36px;
  top:263px;
  width:288px;
  height:158px;
  color:#FFFFFF;
  text-align:left;
}
#u12 {
  position:absolute;
  left:24px;
  top:24px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:left;
}
#u13 {
  position:absolute;
  left:24px;
  top:185px;
  width:312px;
  height:57px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:left;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  white-space:nowrap;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:124px;
}
#u15 {
  position:absolute;
  left:118px;
  top:42px;
  width:124px;
  height:124px;
}
#u16 {
  position:absolute;
  left:2px;
  top:54px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.376470588235294);
}
#u17 {
  position:absolute;
  left:83px;
  top:540px;
  width:194px;
  height:32px;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.376470588235294);
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u20 {
  position:absolute;
  left:36px;
  top:321px;
  width:288px;
  height:45px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u20_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.117647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:56px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u22 {
  position:absolute;
  left:52px;
  top:332px;
  width:25px;
  height:24px;
  font-size:24px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u22_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.117647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u25 {
  position:absolute;
  left:36px;
  top:366px;
  width:288px;
  height:45px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u25_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.117647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:56px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u27 {
  position:absolute;
  left:52px;
  top:377px;
  width:25px;
  height:24px;
  font-size:24px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u27_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.117647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.556862745098039);
  text-align:left;
}
#u29 {
  position:absolute;
  left:109px;
  top:280px;
  width:142px;
  height:24px;
  color:rgba(0, 0, 0, 0.556862745098039);
  text-align:left;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
