body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1372 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:568px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:568px;
}
#u1375 {
  position:absolute;
  left:16px;
  top:276px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.376470588235294);
}
#u1376 {
  position:absolute;
  left:83px;
  top:540px;
  width:194px;
  height:32px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.376470588235294);
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u1378 {
  position:absolute;
  left:0px;
  top:200px;
  width:360px;
  height:392px;
  overflow:hidden;
}
#u1378_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:392px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u1378_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1379 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1379_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:513px;
  background-image:none;
}
#u1379_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:513px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:248px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1383 {
  position:absolute;
  left:0px;
  top:64px;
  width:360px;
  height:56px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1385 {
  position:absolute;
  left:72px;
  top:85px;
  width:132px;
  height:20px;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1388 {
  position:absolute;
  left:0px;
  top:8px;
  width:360px;
  height:56px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1390 {
  position:absolute;
  left:72px;
  top:28px;
  width:132px;
  height:20px;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1391 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#2196F3;
  text-align:left;
}
#u1392 {
  position:absolute;
  left:16px;
  top:26px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#2196F3;
  text-align:left;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u1394 {
  position:absolute;
  left:72px;
  top:119px;
  width:288px;
  height:1px;
  color:rgba(51, 51, 51, 0.556862745098039);
}
#u1395 {
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1397 {
  position:absolute;
  left:0px;
  top:176px;
  width:360px;
  height:56px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1399 {
  position:absolute;
  left:72px;
  top:196px;
  width:147px;
  height:20px;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1400 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u1401 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1402 {
  position:absolute;
  left:0px;
  top:120px;
  width:360px;
  height:56px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1404 {
  position:absolute;
  left:72px;
  top:140px;
  width:90px;
  height:20px;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#2196F3;
  text-align:left;
}
#u1406 {
  position:absolute;
  left:16px;
  top:138px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#2196F3;
  text-align:left;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u1408 {
  position:absolute;
  left:72px;
  top:229px;
  width:288px;
  height:1px;
  color:rgba(51, 51, 51, 0.556862745098039);
}
#u1409 {
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1411 {
  position:absolute;
  left:0px;
  top:299px;
  width:360px;
  height:72px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1413 {
  position:absolute;
  left:72px;
  top:315px;
  width:137px;
  height:40px;
  text-align:left;
  line-height:20px;
}
#u1414 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1416 {
  position:absolute;
  left:0px;
  top:230px;
  width:360px;
  height:72px;
}
#u1417 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1418 {
  position:absolute;
  left:72px;
  top:246px;
  width:137px;
  height:40px;
  text-align:left;
  line-height:20px;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#2196F3;
  text-align:left;
}
#u1420 {
  position:absolute;
  left:16px;
  top:254px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#2196F3;
  text-align:left;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u1422 {
  position:absolute;
  left:72px;
  top:435px;
  width:288px;
  height:1px;
  color:rgba(51, 51, 51, 0.556862745098039);
}
#u1423 {
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1425 {
  position:absolute;
  left:0px;
  top:441px;
  width:360px;
  height:72px;
}
#u1426 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1427 {
  position:absolute;
  left:72px;
  top:457px;
  width:235px;
  height:40px;
  text-align:left;
  line-height:20px;
}
#u1428 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1430 {
  position:absolute;
  left:0px;
  top:373px;
  width:360px;
  height:72px;
}
#u1431 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1432 {
  position:absolute;
  left:72px;
  top:389px;
  width:223px;
  height:40px;
  text-align:left;
  line-height:20px;
}
#u1433 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u1434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u1434 {
  position:absolute;
  left:72px;
  top:373px;
  width:288px;
  height:1px;
  color:rgba(51, 51, 51, 0.556862745098039);
}
#u1435 {
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1436 {
  position:absolute;
  left:16px;
  top:397px;
  width:24px;
  height:24px;
}
#u1437 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:rgba(51, 51, 51, 0.556862745098039);
  text-align:left;
}
#u1438 {
  position:absolute;
  left:319px;
  top:397px;
  width:25px;
  height:24px;
  font-size:24px;
  color:rgba(51, 51, 51, 0.556862745098039);
  text-align:left;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:rgba(51, 51, 51, 0.556862745098039);
  text-align:left;
}
#u1440 {
  position:absolute;
  left:319px;
  top:465px;
  width:25px;
  height:24px;
  font-size:24px;
  color:rgba(51, 51, 51, 0.556862745098039);
  text-align:left;
}
#u1441 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1442 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:176px;
  background:inherit;
  background-color:rgba(33, 150, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1443 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:176px;
}
#u1444 {
  position:absolute;
  left:2px;
  top:80px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1445 {
  position:absolute;
  left:16px;
  top:34px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1446 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
  text-align:left;
}
#u1447 {
  position:absolute;
  left:16px;
  top:92px;
  width:291px;
  height:40px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
  text-align:left;
}
#u1448 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1449 {
  position:absolute;
  left:16px;
  top:142px;
  width:120px;
  height:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1450 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1451 {
  position:absolute;
  left:16px;
  top:168px;
  width:28px;
  height:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1452 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1453 {
  position:absolute;
  left:283px;
  top:34px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1455 {
  position:absolute;
  left:318px;
  top:34px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1457 {
  position:absolute;
  left:133px;
  top:594px;
  width:91px;
  height:46px;
}
#u1458 {
  position:absolute;
  left:2px;
  top:15px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
