body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:353px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1156 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1158 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:568px;
}
#u1159 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1160 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:568px;
}
#u1161 {
  position:absolute;
  left:16px;
  top:276px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.376470588235294);
}
#u1162 {
  position:absolute;
  left:83px;
  top:540px;
  width:194px;
  height:32px;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.376470588235294);
}
#u1163 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(33, 150, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1165 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:46px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:15px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1167 {
  position:absolute;
  left:16px;
  top:34px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1168 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1169 {
  position:absolute;
  left:318px;
  top:34px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1170 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
#u1171 {
  position:absolute;
  left:51px;
  top:34px;
  width:83px;
  height:24px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
#u1172 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.117647058823529);
}
#u1174 {
  position:absolute;
  left:8px;
  top:80px;
  width:344px;
  height:122px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:53px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
}
#u1176 {
  position:absolute;
  left:8px;
  top:80px;
  width:344px;
  height:122px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:53px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u1178 {
  position:absolute;
  left:8px;
  top:150px;
  width:344px;
  height:1px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:-8px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1180 {
  position:absolute;
  left:17px;
  top:158px;
  width:111px;
  height:36px;
}
#u1181 {
  position:absolute;
  left:12px;
  top:10px;
  width:87px;
  white-space:nowrap;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1182 {
  position:absolute;
  left:128px;
  top:158px;
  width:127px;
  height:36px;
}
#u1183 {
  position:absolute;
  left:12px;
  top:10px;
  width:103px;
  white-space:nowrap;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1185 {
  position:absolute;
  left:70px;
  top:97px;
  width:269px;
  height:43px;
  text-align:left;
  line-height:20px;
}
#u1186 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u1187 {
  position:absolute;
  left:24px;
  top:97px;
  width:36px;
  height:40px;
  color:#F73F3C;
}
#u1188 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#F73F3C;
  text-align:left;
}
#u1189 {
  position:absolute;
  left:314px;
  top:164px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#F73F3C;
  text-align:left;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.117647058823529);
}
#u1192 {
  position:absolute;
  left:8px;
  top:212px;
  width:344px;
  height:122px;
}
#u1193 {
  position:absolute;
  left:2px;
  top:53px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
}
#u1194 {
  position:absolute;
  left:8px;
  top:212px;
  width:344px;
  height:122px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:53px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u1196 {
  position:absolute;
  left:8px;
  top:282px;
  width:344px;
  height:1px;
}
#u1197 {
  position:absolute;
  left:2px;
  top:-8px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198 {
  position:absolute;
  left:17px;
  top:290px;
  width:111px;
  height:36px;
}
#u1199 {
  position:absolute;
  left:12px;
  top:10px;
  width:87px;
  white-space:nowrap;
}
#u1200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  position:absolute;
  left:128px;
  top:290px;
  width:127px;
  height:36px;
}
#u1201 {
  position:absolute;
  left:12px;
  top:10px;
  width:103px;
  white-space:nowrap;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1203 {
  position:absolute;
  left:70px;
  top:229px;
  width:269px;
  height:43px;
  text-align:left;
  line-height:20px;
}
#u1204 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u1205 {
  position:absolute;
  left:24px;
  top:229px;
  width:36px;
  height:40px;
  color:#F73F3C;
}
#u1206 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#F73F3C;
  text-align:left;
}
#u1207 {
  position:absolute;
  left:314px;
  top:296px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#F73F3C;
  text-align:left;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.117647058823529);
}
#u1210 {
  position:absolute;
  left:8px;
  top:344px;
  width:344px;
  height:122px;
}
#u1211 {
  position:absolute;
  left:2px;
  top:53px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.117647058823529);
}
#u1212 {
  position:absolute;
  left:8px;
  top:344px;
  width:344px;
  height:122px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:53px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u1214 {
  position:absolute;
  left:8px;
  top:414px;
  width:344px;
  height:1px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:-8px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1216 {
  position:absolute;
  left:17px;
  top:422px;
  width:111px;
  height:36px;
}
#u1217 {
  position:absolute;
  left:12px;
  top:10px;
  width:87px;
  white-space:nowrap;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1218 {
  position:absolute;
  left:128px;
  top:422px;
  width:127px;
  height:36px;
}
#u1219 {
  position:absolute;
  left:12px;
  top:10px;
  width:103px;
  white-space:nowrap;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1221 {
  position:absolute;
  left:70px;
  top:361px;
  width:269px;
  height:43px;
  text-align:left;
  line-height:20px;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#F73F3C;
  text-align:left;
}
#u1223 {
  position:absolute;
  left:314px;
  top:428px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#F73F3C;
  text-align:left;
}
#u1224 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u1225 {
  position:absolute;
  left:25px;
  top:363px;
  width:35px;
  height:40px;
  color:#2196F3;
}
#u1226 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:568px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.556862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  position:absolute;
  left:-7px;
  top:24px;
  width:367px;
  height:568px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:276px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1230_img {
  position:absolute;
  left:-38px;
  top:-19px;
  width:356px;
  height:293px;
}
#u1230 {
  position:absolute;
  left:40px;
  top:175px;
  width:280px;
  height:217px;
  color:#FFFFFF;
  text-align:left;
}
#u1231 {
  position:absolute;
  left:24px;
  top:24px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:237px;
}
#u1232 {
  position:absolute;
  left:40px;
  top:175px;
  width:280px;
  height:237px;
}
#u1233 {
  position:absolute;
  left:24px;
  top:24px;
  width:254px;
  word-wrap:break-word;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1234 {
  position:absolute;
  left:64px;
  top:239px;
  width:232px;
  height:20px;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F73F3C;
}
#u1236 {
  position:absolute;
  left:218px;
  top:365px;
  width:91px;
  height:36px;
  color:#F73F3C;
}
#u1237 {
  position:absolute;
  left:12px;
  top:10px;
  width:67px;
  white-space:nowrap;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  position:absolute;
  left:52px;
  top:365px;
  width:82px;
  height:36px;
}
#u1239 {
  position:absolute;
  left:12px;
  top:10px;
  width:58px;
  white-space:nowrap;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1240 {
  position:absolute;
  left:64px;
  top:276px;
  width:232px;
  height:61px;
  text-align:left;
  line-height:20px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  position:absolute;
  left:133px;
  top:594px;
  width:91px;
  height:46px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:15px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
