body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u215 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:568px;
}
#u217 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:568px;
}
#u219 {
  position:absolute;
  left:16px;
  top:276px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:-38px;
  top:-19px;
  width:364px;
  height:202px;
}
#u220 {
  position:absolute;
  left:36px;
  top:263px;
  width:288px;
  height:126px;
  color:#FFFFFF;
  text-align:left;
}
#u221 {
  position:absolute;
  left:24px;
  top:24px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:left;
}
#u222 {
  position:absolute;
  left:24px;
  top:185px;
  width:312px;
  height:57px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:left;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  white-space:nowrap;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:124px;
}
#u224 {
  position:absolute;
  left:118px;
  top:42px;
  width:124px;
  height:124px;
}
#u225 {
  position:absolute;
  left:2px;
  top:54px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.376470588235294);
}
#u226 {
  position:absolute;
  left:83px;
  top:540px;
  width:194px;
  height:32px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.376470588235294);
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:44px;
  top:344px;
  width:72px;
  height:36px;
}
#u229 {
  position:absolute;
  left:12px;
  top:10px;
  width:48px;
  white-space:nowrap;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:133px;
  top:594px;
  width:91px;
  height:46px;
}
#u231 {
  position:absolute;
  left:2px;
  top:15px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
